/* ----------------------------------- HEADER ------------------------------------------------*/
header i, span{
    color: black;
}

header a{
    text-decoration: none;
}

/* ----------------------------------- MAIN ------------------------------------------------*/

main{
    padding-top: 65px;
}
